.product-card {
  position: relative;
  box-sizing: border-box;
  border-color: #f7f7f7;
  border-style: solid;
  border-width: 0 0 1px;
  color: $secondaryTextColor;
  padding: 12px;
  border-left-width: 1px;
  background-color: #fff;
  text-decoration: none;


  &__img-wrapper {
    display: flex;
    max-width: 120px;

    @include onTablet {
      max-width: 140px;
    }

    @include onDesktop {
      max-width: 166px;
    }
  }

  &__info {
    padding-top: 12px;

  }

  &__img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    color: $mainTextColor;
    white-space: normal;
    font-size: 16px;
    text-align: center;
    line-height: 1.375;
  }

  &__price {
    margin: 0;
    font-size: .875em;
    text-align: center;
    color: $secondaryTextColor;
  }

  &__sale-label {
    font-size: 12px;

    position: absolute;
    color: #fff;
    background-color: #006eff;
    font-weight: 700;
    letter-spacing: .6px;
    text-transform: uppercase;
    padding: 4px 10px;
    z-index: 1;
    top: 0;
    left: 0;
  }
}